.color img{
    transition: 1s ease;
    }
    
    .color img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    border-radius: 10px;
    }